@import 'fonts.css';
@import 'variables.css';

body {
    background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font: var(--master-font);
    color: var(--master-white);
}

main {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--heading-white);
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: inline;
    margin-right: 1em;
}

.text-link {
    font: var(--link-font);
    color: var(--link-color);
}

.icon-link {
    color: var(--link-color);
}

.portrait {
    opacity: 0.9;
}

.vertically-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
