@import 'fonts.css';
@import 'variables.css';

body {
    background: #16BFFD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    font: var(--master-font);
    color: var(--master-white);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

a {
    font: var(--link-font);
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    display: inline;
    margin-right: 1em;
}

.row {
    display: flex;
    justify-content: center;
}
