:root {
    /* Fonts */
    --master-font: 400 1em 'Roboto', sans-serif;
    --heading-font: 'Bitter', serif;
    --link-font: 700 1em 'Roboto', sans-serif;

    /* Colors */
    --master-white: rgba(255, 255, 255, .6);
    --heading-white: rgba(255, 255, 255, .9);
    --link-color: rgba(255, 255, 255, .8);
    --link-hover-color: rgba(255, 255, 255, 1);
}
